# Core libraries for SQLi Hunter
rich
playwright
beautifulsoup4
simhash
dnspython
httpx
sqlglot
scikit-optimize
numpy # scikit-optimize requires numpy
playwright-stealth
curl_cffi
cloudscraper
PyQt6
PyQt6-sip
